.buy-page
  .buy-items
    .buy-item
      .buy-item__main-header
        %h3.buy-title 購入内容の確認
      .buy-item__main-container
        .main-container-item
          .buy-img
            =image_tag "curry.png"
            .buy-img__buy-name
              ファミュ フラワーインフューズド ファインマスク 50ml
          .buy-price
            金額：¥3,500 （税込）送料込み
      .buy-item__main-container
        .main-container-item
          .main-container-item__payment
            支払い金額：
            .main-container-item__payment__money
              ¥3,500
      .buy-item__main-container
        .main-container-item
          .main-container-item__credit
            支払方法
            .main-container-item__credit__list
              クレジットカード
              .main-container-item__credit__list__number
                **** **** 1111
                %br
                有効期限 12/20
            
      .buy-item__main-container
        .main-container-item
          .main-container-item__shipping-address
            配送先
            .buy-user-adress
              .buy-user-adress__confirmation
                〒111-1111
                %br
                大阪府
                %br
                大阪市
                %br
                中央区難波5-1-60
                %br
                なんばスカイオTECH CAMP
                %br
                山田
                太郎
      .buy-item__main-container
        .main-container-item
          .buy-item__main-container__btn
            = form_tag(action: :pay, method: :post, class: :SelectBtn) do
              %button{class: "SelectBtn", type: "submit"} 購入する
          

  .buy-page__footer
    %ul
      %li.buy-page__footer__terms
        =link_to "#" do
          プライバシーポリシー
      %li.buy-page__footer__terms
        =link_to "#" do
          FURIMA利用規約
      %li.buy-page__footer__terms
        =link_to "#" do
          特定商取引に関する表記
    .buy-page__footer__logo
      =image_tag "logo-white.png"
      %p ©️FURIMA


      