.buy-page
  .buy-page__header
    .buy-page__header__logo
      = link_to root_path do
        = image_tag "logo-white.png"

  .buy-page__content
    .buy-page__content__main
      .buy-page__content__main__header
        購入内容の確認
      .buy-page__content__main__item
        .buy-page__content__main__item-img
          =image_tag "商品の写真"
        .buy-page__content__main__item-name
          商品名
        .buy-page__content__main__item-price
          金額：¥3,000
      .buy-page__content__main__payment
        





  .buy-page__footer