= render 'product_index'
%h1 Items#インデックス
%p Find me in app/views/items/index.html.erb
=link_to '本物のトップページ', products_path
- if user_signed_in?
  マイページ
  \#{link_to 'ログアウト', destroy_user_session_path, method: :delete}
  =link_to '商品出品', new_product_path
- else
  = link_to '新規登録', new_user_registration_path
  = link_to 'ログイン', new_user_session_path

