 .application-body {
  height: 100vh;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  .wrapper {
    overflow: scroll;
    height: 100%;
    .header{
      width: 100%;
      height: 130px;
      background-color: white;
      .head-wrapper {
        width: 1000px;
        margin: 0 auto;
        padding-top: 40px;
        .main-header{
          display: flex;
          // height:50px;
          // margin: 50px 300px 100px 300px;
          &__logo{
          }
          &__search-box{
            @include box-prop (900px, 40px, whitesmoke);
            margin-left: 40px;
            font-size: 20px;

          }
          &__search-img{
          height: 35px;
          background-color:#3ccace;
          padding: 5px 5px 0;
          }
          
        }

      
        .main-header__nav{
          display: flex;
          justify-content: space-between;
          &__left-box{
            // width: 200px;
            // margin: 110px 30px 0px 100px;
            display: flex;
            }
            &__right-box{
            // width: 300px;
            // margin: 110px 30px 0px 1050px;
            display: flex;
            }
          .link {
            margin-right: 15px;
            cursor: pointer;
            color: black;;
            }
          }
      }
    }
    
    
    
    .body {
      min-height: 50vh;
    
    }
    .footer {
      padding: 20px 0 10px;
      width: 100%;
      background-color: #272727;
      color: white;
      .contents {
        width: 660px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .content {
          width: calc(1 / 5 * 100%);
          margin-right: 20px;
          text-align: center;
          font-size: 10px;
          list-style: none;
          &__head {
            margin: 0 0 20px;
            text-align: center;
            font-size: 15px;
            }
          &__menu {
            // width: 200px;
            // padding: 0;
            // margin: 0 30px;
            text-align: center;
            &__list {
              // height: 30px;
              padding-top: 5px;
              list-style: none;
              font-size: 6px;
              a{
                color: white;
              }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      &__logo {
        width: 100%;
        margin: 10px auto;
        max-width: 160px;
        p {
          text-align: center;
          font-size: 10px;
        }
        img {
          width: 60%;
          margin: 0 15%;
        }
      }
    }
    .exhibit-icon {
      @include box-prop (140px, 140px, #3CCACE);
        text-align: center;
        border-radius: 70px;
        box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2)inset;
        position: fixed;
        right: 30px;
        bottom: 30px;
      .exhibit-icon-box{
        margin-top: 20px;
        .exhibit-span {
          margin-top: 30px;
        }
        .exhibit-image {
          width: 60%;
        }
      }
    }
  }
}
