.contents_row {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}

.container {
  @include box-prop(40vw, 100%, white);
  margin: 48px auto;
  padding: 10px 20px 30px;
}

.form_group {
  width: 100%;
  margin: 13px auto;
}

h2.pagetitle {
  border-bottom: 0.5px solid rgb(196, 192, 192);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

span.caution {
  @include box-prop(50px, 20px, red);
  padding: 3px;
  margin-left: 5px;
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 0.5em;
}
span.caution-any {
  @include box-prop(50px, 20px, gray);
  padding: 3px;
  margin-left: 5px;
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 0.5em;
}

.field {
  width: 90%;
  margin: 20px auto 0;
  input {
    width: 95%;
    margin-top: 8px;
    padding: 8px 6px;
  }
}

.field label{
  margin-bottom: 10px;
  font-weight: 700;
  padding-left: 2px;
}

.field_checkbox {
  margin: 8px auto;
  padding: 0 30px;
}

.actions {
  margin: 5px auto;
  padding: 0 18px;
  &__btn {
    margin: 20px auto;
    text-align: center;
    .login_btn {
      @include box-prop(130px, 30px, lightgray);
      line-height: 30px;
      border-radius: 0.8em;
      cursor: pointer;
    }
    .login_btn:hover {
      background-color: #3CCACE;
    }
    .next_btn {
      @include box-prop(130px, 30px, lightgray);
      line-height: 30px;
      border-radius: 0.8em;
      margin-top: 10px;
      cursor: pointer;
    }
    .next_btn:hover {
      background-color:gray;
    }
    .signin_btn {
      @include box-prop(130px, 30px, lightgray);
      line-height: 30px;
      border-radius: 0.8em;
      margin-top: 10px;
      cursor: pointer;
    }
    .signin_btn:hover {
      background-color: #3CCACE;
    }
  }
}