.mypage-body{
  width: 100%;
  height: 700px;
  // margin: auto;
  display: flex;
}
  .main__contennt{
    width: 798px;
    margin-top: 30px;
    // margin-left: 100px;
    &__mypage-icon{
      width: 798px;
      height: 250px;
      margin-bottom: 36px;
      background-image: url(https://i.gyazo.com/f9923f7c393b69147e0c176d04c4468a.png);
      
      &__name{
        width: 400px;
        height: 80px;
        text-align: center;
        font-size: 35px;
        margin: 0 auto;
      }
      &__image{
        width: 300px;
        height: 150px;
        margin-left: 330px;
        margin-top: 30px;
        padding-top: 30px;
        }
    }
    &__tabs {
      width:810px;
      height: 500px;
      margin-top: 0;
      position: relative;
      .tab-label {
        width: 100px;
        background-color: gray;
        padding: 40px 179px;
        border: 1px solid #999;
        border-bottom: none;
        font-size: 0.8em;
        vertical-align:  middle;
      }
      .tab-left {

      }
      .tab-right {
        margin-left: -5px;
      }
      input[name="tab-radio"] {
        display: none;
      }
      .tab-content {
        width: 776px;
        background-color: white;
        padding: 10px;
        min-height: 200px;
        border: 1px solid #999;
        display: none;
        overflow: scroll;
      }
      #tab-1:checked ~ .tab-1-content, #tab-2:checked ~ .tab-2-content, #tab-3:checked ~ .tab-3-content, #tab-4:checked ~ .tab-4-content, #tab-5:checked ~ .tab-5-content {
        display: block;
      }
      input[name="tab-radio"]:checked + .tab-label {
        background-color: #fff;
      }
    }
  }