.footer{
  background-color: rgb(235, 234, 234);
  height: 15vh;
  width: 100vw;
  text-align: center;
  line-height: 15vh;
  font-size: 40px;
}

.main{
  background-color: rgb(235, 234, 234);
  height: 100%;
  width: 100vw;

  &_block{
    background-color: white;
    height: 100%;
    width: 50vw;
    margin: 0 auto;

    &_category{
      background-color: white;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
      border-bottom: solid 0.5px rgb(196, 192, 192);

      &_box{
        margin: 0 auto;
        height:100%;
        width:40vw;

        &_mini{
          height:100%;
          display: flex;

          .big_contents{
            height: 20vh;
            width: 40vw;
            margin: auto;
            border: solid 0.5px rgb(196, 192, 192);
            border-radius: 1em;
          }

          .small_contents{
            height: 5vh;
            width: 40vw;
            margin: auto;
            border: solid 0.5px rgb(196, 192, 192);
            border-radius: 1em;
          }
          .description_contents{
            height: 20vh;
            width: 40vw;
            margin: auto;
            overflow: scroll;
            border: solid 0.5px rgb(196, 192, 192);
            border-radius: 1em;
          }
          .price_contents{
            height: 5vh;
            width: 25vw;
            margin: auto;
            border: solid 0.5px rgb(196, 192, 192);
            border-radius: 1em;
            margin-left: 80px;
          }
          .btn_contents{
            height: 200px;
            width: 400px;
          }
          .price_btn{
            background-color: skyblue;
            font-size: 20px;
            color: white;
            height: 50px;
            width: 400px;
            line-height: 50px;
            text-align: center;
            border-radius: 0.5em;
            margin: auto 0;
            margin-top: 20px;
            margin-left: 90px;
            margin-bottom:30px;

          }
          .save_btn{
            background-color: rgb(196, 192, 192);
            font-size: 20px;
            color: white;
            height: 50px;
            width: 400px;
            line-height: 50px;
            text-align: center;
            border-radius: 0.5em;
            margin: auto 0;
            margin-left: 90px;
          }
          .text{
            padding-top: 20px;
            padding-bottom: 10px;
          }
          .title{
            color: rgb(192, 189, 189);
            font-size: 13px;
          }
          .text_logo{
            background-color: red;
            font-size: 15px;
            color: white;
            height: 19px;
            width: 40px;
            line-height: 2.8vh;
            text-align: center;
            border-radius: 0.5em;
            margin: 20px 0 13px 10px;
          }
          .text_logo2{
            background-color: gray;
            font-size: 15px;
            color: white;
            height: 17px;
            width: 40px;
            line-height: 2.8vh;
            text-align: center;
            border-radius: 0.5em;
            margin: 20px 0 13px 10px;
          }
        }
      }
    }
  }
}

.header{
  background-color: rgb(235, 234, 234);
  height: 15vh;
  width: 100vw;
  text-align: center;
  line-height: 15vh;
  font-size: 40px;
}

