.body {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  .main {
    .topMainView {
      
    }
    .topList {


    }
    .topSecondView {

    }
    .topFeatures {

    }
    .topPicup__Category {

    }
    .topPicup__brand {

    }
  .appBanner {

  }

  }
    

}
  