.item{
  position: absolute;
  margin-top: 50px;
  margin-left:700px;
  display: flex;
}
tr{
  border: solid 1px;
}
th{
  height: 50px;
}
.item__name{
  width: 150px;
  background-color: #fafafa;
}
.item__content{
  width: 250px;
  background-color: white;
}

.praice{
  position: absolute;
  margin-left: 600px;
  margin-top: 450px;
  width: 600px;
  height: 200px;
  &__boild{
    text-align: center;
    width: 200px;
    height: 100px;
  }
}
.icon__image{
  margin-top: 50px;
  margin-left: 400px;
}

.buy{
    margin:100px 100px 100px 450px;
    position: absolute;
    background-color: white;
    width: 500px;
    height: 100px;
    &__decision{
      position: absolute;
      list-style: none;
      color: white;
      font-size: 30px;
      margin: 30px 100px 50px 100px;
      text-align: center;
      background-color: red;
      width: 300px;
      a {
        text-decoration: none;
        color: white;
      }
  }
  }
