.show-item{
  margin-top: 50px;
  margin-left:700px;
  display: flex;
  position: absolute;

}
tr{
  border: solid 1px;
}
th{
  height: 50px;
}
.show-item__name{
  width: 150px;
  background-color: #FAFAFA;
}
.show-item__content{
  width: 250px;
  background-color: white;

}
.slider{
  width: 300px;
  margin-top: 23px;
  margin-left: 398px;
  position: absolute;
}
.slick-track{
  width: 100px;
}

.praice{
  width: 600px;
  height: 200px;
  margin-left: 600px;
  margin-top: 450px;
  position: absolute;
  &__boild{
    width: 200px;
    height: 100px;
    text-align: center;
  }
}
.icon__image{
  margin-top: 22px;
  margin-left: 400px;
}

.buy{
  width: 500px;
  height: 100px;
  background-color: white;

  margin:80px 100px 100px 450px;
  position: absolute;

    &__decision{
      width: 300px;
      background-color: red;
      color: white;
      margin: 30px 100px 50px 100px;
      font-size: 30px;
      text-align: center;
      list-style: none;
      position: absolute;
      a {
        color: white;
        text-decoration: none;

      }
  }
  }

  .buy2{
    width: 500px;
    height: 100px;
    background-color: white;
    margin: 230px 100px 100px 450px;
    position: absolute;
    &__decision2{
      width: 300px;
      background-color: red;
      color: white;
      margin: 30px 100px 250px 100px;
      font-size: 30px;
      text-align: center;
      list-style: none;
      position: absolute;
      a {
        color: white;
        text-decoration: none;
        }
      }
    }
