.side {
  margin-left: 100px;
  margin-top: 30px;
  height: 100vh;
  width: calc(100% - 70%);
  float: left;
}

.side-bar{
  margin: 0px 20px;
  &__menu {
    width: 300px;
    margin: 20px;
    &__list {
      height: 40px;
      line-height: 40px;
      list-style: none;
      border-bottom: 0.1px solid grey;
      color:black;
      margin-right: 30px;
      padding-left: 10px;
      background-color: white;
      cursor: pointer;
    }
    &--list {
      list-style: none;
      height: 40px;
      line-height: 40px;
      background-color: lightgray;
      margin-right: 30px;
      padding-left: 10px;
      color: black;
    }
  }
}

a {
  text-decoration: none;
}

.side-bar__menu__list:hover {
  background-color:gray;
  opacity: 0.8;
}