.side
  .side-bar
    %ul.side-bar__menu
      %li.side-bar__menu--list 
        ページ項目
      =link_to user_path(current_user) do
        %li.side-bar__menu__list マイページ
      %li.side-bar__menu__list
        いいね！一覧
      =link_to "#" do
        %li.side-bar__menu__list
          出品する
      %li.side-bar__menu__list
        ニュース一覧
      %li.side-bar__menu__list
        ガイド
      %li.side-bar__menu__list
        お問い合わせ

    %ul.side-bar__menu
      %li.side-bar__menu--list
        設定
      %li.side-bar__menu__list
        プロフィール
      %li.side-bar__menu__list
        発送元・お届け先住所変更
      %li.side-bar__menu__list
        メール/パスワード
      %li.side-bar__menu__list
        本人情報
      %li.side-bar__menu__list
        電話番号の確認
      =link_to new_card_path do
        %li.side-bar__menu__list クレジットカード登録
      =link_to new_user_path do
        %li.side-bar__menu__list ログアウト

