
.footer
  furima
.main
  .main_block
    .main_block_category
      .category_text
        出品画像
      .category_text_no3
        必須
      .category_text_no2
        最大１０枚までアップロードできます
    .main_block_category_no2
      .category_text
        image


    .main_block_category
      .category_text
        商品名
      .category_text_no3
        必須
    .main_block_category_no3
      .category_text
        ４０文字まで


    .main_block_category
      .category_text
        商品の説明
    .main_block_category_no4

    .main_block_category_blank

    .main_block_category
      .category_text_no2
        商品の詳細
    .main_block_category
      .category_text
        カテゴリー
      .category_text_no3
        必須
    .main_block_category_no5
      選択してください


    .main_block_category
      .category_text
        ブランド
      .category_text_no4
        任意
    .main_block_category_no3
      シャネル


    .main_block_category
      .category_text
        商品の状態
      .category_text_no3
        必須
    .main_block_category_no5
      選択してください


    .main_block_category_blank

    .main_block_category
      .category_text_no2
        配送について
    .main_block_category
      .category_text
        配送料の負担
      .category_text_no3
        必須
    .main_block_category_no5
      選択してください


    .main_block_category
      .category_text
        配送元の地域
      .category_text_no3
        必須
    .main_block_category_no5
      選択してください


    .main_block_category
      .category_text
        配送までの日数
      .category_text_no3
        必須
    .main_block_category_no5
      選択してください


    .main_block_category_blank

    .main_block_category
      .category_text_no2
        価格
    .main_block_category
      .category_text
        販売価格
      .category_text_no3
        必須
      .main_block_category_no6

    .main_block_category
      .category_text_no5
        出品する

    .main_block_category
      .category_text_no6
        下書きに保存する


    .main_block_category_blank_1

.header